body{
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #AFD3E2;
  margin:0px;
}

.app {
  text-align: center;
  background-color: #F6F1F1;
  height:100vh;
  width:80vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

h2{
  margin:13px;
}

button {
  font-weight: bold;
  background-color: #146C94;
  color: #F6F1F1;
  border-radius: 2px;
  border-color: #146C94;
}

span {
  display: flex;
}
li{
  list-style-type: '▶️';
}

.todoInput{
  height:20vh;
}

.todoInput input {
  width:80%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;
  height:23%
}
.todoInput button {
  background-color: #146C94;
  color: #F6F1F1;
  border-radius: 2px;
  border-color: #146C94;
  height:29%
}

.todoList {
  height:45vh;
}
.doneList {
  height:45vh;
}

.listWrapper {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  cursor: pointer;
}

